apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: apicurio-registry
    component: apicurio-registry-ui
  name: apicurio-registry-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      component: apicurio-registry-ui
  template:
    metadata:
      labels:
        app: apicurio-registry
        component: apicurio-registry-ui
    spec:
      containers:
        - image: >-
            quay.io/apicurio/apicurio-registry-ui@sha256:de327f201f83032b21b2f2e737478da4a1512e7ccf3ec98814f3cd7fc0c3749f
          name: apicurio-registry-ui
          ports:
            - name: web
              containerPort: 8080
              protocol: TCP
          env:
            - name: REGISTRY_API_URL
              value: 'https://registry-api.dev.apicur.io/apis/registry/v3'
          resources:
            limits:
              cpu: 500m
              memory: 1000Mi
            requests:
              cpu: 100m
              memory: 200Mi
          livenessProbe:
            httpGet:
              path: /config.js
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /config.js
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3

